* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*display: flex;*/
    /*flex-direction: column;*/
    background-color: antiquewhite;
}

.wrapper {
    width: 1500px;
    margin: 0 auto;
}

.h24 {
    height: 24px;
}

.h160 {
    height: 160px;
}

.h140 {
    height: 140px;
}

.h300 {
    height: 300px;
}

.w24 {
    width: 24px;
}

.w160 {
    width: 160px;
}

.w140 {
    width: 140px;
}

.w300 {
    width: 300px;
}

.w420 {
    width: 420px;
}

.w600 {
    width: 600px;
}

.w100 {
    width: 100%;
}

.min-width {
    min-width: 1500px;
}

.base-bg {
    background-color: mediumpurple;
}

.base-bg1 {
    background-color: #102b3d;
}

.br-4 {
    border-radius: 4px;
}

.br-16 {
    border-radius: 16px;
}

.br-50 {
    border-radius: 50%;
}

.gap16 {
    gap: 16px;
}

.gap40 {
    gap: 40px;
}

.gap180 {          /*Відстань між services*/
    gap: 180px;
}

.hero {
    width: 100%;
    height: 600px;
    background-color: #102b3d;
}

.slider-section {
    display: flex;
    justify-content: center;
}

.left_column {
    display: flex;
    flex-direction: column;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mb50 {
    margin-bottom: 50px;
}

.mb100 {
    margin-bottom: 100px;
}

.mb200 {
    margin-bottom: 200px;
}

.about {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}


